<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ACADEMIA ADHARA</title>

  <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/estilos.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static//css/redes.css">
  
  <script src="https://use.fontawesome.com/502b7294a9.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark  gris scrolling-navbar fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img class="img" src="static/img/LOGO.png" width="120" height="30" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('nosotros')}}">Nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('docentes')}}">Plana Docente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('galeria')}}">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contacto')}}">Contacto</a>
          </li>



        </ul>
        <!-- Links -->

        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->

    </div>
  </nav>


  <!--fin de menu-->