{% include 'sitio/cabecera.html' %}

<section>

    <div class="bg">

        <br>

        <div class="container">
            <div class="row">
                <div class="col-ms-12 col-lg-4 mt-5 ">
                    <h3 class="text-danger font-weight-bold" style="font-size:calc(1em + .6vw)">DOCENTE DE GUITARRA</h3>
                    <p class="mb-2 text-white" style="font-size:calc(.5em + .5vw)">LIC. ALDO CONDORI GRIMALDOS.<br><br>

                        Se desempeña con idoneidad en el campo de la música con capacidad creativa, critica e
                        investigativa de la ejecución e interpretación musical.<br><br>
                        Se conduce profesionalmente con un alto sentido ético personal a través de la práctica de los
                        valores universales y particulares promovidos por la Unidad Académica.
                    </p>
                </div>
                <div class="col-ms-12 col-lg-8 mt-4">
                    <img src="static/img/guitarrista.jpg" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-ms-12 col-lg-4 mt-4">
                    <h3 class="text-danger font-weight-bold" style="font-size:calc(1em + .6vw)">DOCENTE DE CANTO</h3>
                    <p class="mb-2 text-white" style="font-size:calc(.5em + .5vw)">PROF. CARLOS RAMOS CHUQUIMIA.<br><br>

                        Se desempeña con idoneidad en el campo de la música con capacidad creativa, critica e
                        investigativa de la ejecución e interpretación musical.<br><br>
                        Se conduce profesionalmente con un alto sentido ético personal a través de la práctica de los
                        valores universales y particulares promovidos por la Unidad Académica.
                    </p>
                </div>
                <div class="col-ms-12 col-lg-8 mt-2">
                    <img src="static/img/cantor.jpg" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-ms-12 col-lg-4 mt-4">
                    <h3 class="text-danger font-weight-bold" style="font-size:calc(1em + .6vw)">DOCENTE DE CHARANGO</h3>
                    <p class="mb-2 text-white" style="font-size:calc(.5em + .5vw)">Prof.RODOLFO RUDY RAMOS
                        CANQUI.<br><br>

                        Se desempeña con idoneidad en el campo de la música con capacidad creativa, critica e
                        investigativa de la ejecución e interpretación musical.<br><br>
                        Se conduce profesionalmente con un alto sentido ético personal a través de la práctica de los
                        valores universales y particulares promovidos por la Unidad Académica.
                    </p>
                </div>
                <div class="col-ms-12 col-lg-8 mt-2">
                    <img src="static/img/charanguista.jpg" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-ms-12 col-lg-4 mt-4">
                    <h3 class="text-danger font-weight-bold" style="font-size:calc(1em + .6vw)">DOCENTE DE BATERIA</h3>
                    <p class="mb-2 text-white" style="font-size:calc(.5em + .5vw)">Prof. EDDYE RENSO RUELAS
                        CHOQUE.<br><br>

                        Se desempeña con idoneidad en el campo de la música con capacidad creativa, critica e
                        investigativa de la ejecución e interpretación musical.<br><br>
                        Se conduce profesionalmente con un alto sentido ético personal a través de la práctica de los
                        valores universales y particulares promovidos por la Unidad Académica.
                    </p>
                </div>
                <div class="col-ms-12 col-lg-8 mt-2">
                    <img src="static/img/baterista.jpg" class="img-fluid" alt="Responsive image">
                </div>

                <div class="col-ms-12 col-lg-4 mt-4">
                    <h3 class="text-danger font-weight-bold" style="font-size:calc(1em + .6vw)">DOCENTE VIENTOS ANDINOS
                    </h3>
                    <p class="mb-2 text-white" style="font-size:calc(.5em + .5vw)">Prof. EDDYE RENSO RUELAS
                        CHOQUE.<br><br>

                        Se desempeña con idoneidad en el campo de la música con capacidad creativa, critica e
                        investigativa de la ejecución e interpretación musical.<br><br>
                        Se conduce profesionalmente con un alto sentido ético personal a través de la práctica de los
                        valores universales y particulares promovidos por la Unidad Académica.
                    </p>
                </div>
                <div class="col-ms-12 col-lg-8 mt-2">
                    <img src="static/img/quenista.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>

        {% include 'sitio/pie.html' %}