{% include 'sitio/cabecera.html' %}
<section>

  <div class="bg">

    <br>



    <div class="container mt-5  text-justify shadow-sm">
      <h4 class="text-danger font-weight-bold" style="font-size:calc(.9em + 1vw)">HISTORIA</h4>
      <p class="mb-5 text-white" style="font-size:calc(.5em + .5vw)">La Academia de Música ADHARA se fundó en el año
        2020 por el Ing. RODOLFO RUDY RAMOS CANQUI. Prof. CARLOS RAMOS CHUQUIMIA. Lic. ALDO CONDORI GRIMALDOS. <br><br>

        Las clases en La Academia de Música ADHARA está dirigida para toda edad y es realizada en clases grupales con
        asistencia personalizada, individuales. También, cuenta con preparación pre universitaria para el programa de
        música de las distintas Universidades e institutos Superiores del Perú y el Mundo.<br> <br>

        Actualmente la Academia de Música ADHARA se dedica a la enseñanza de instrumentos musicales de forma didactica
        con la más alta tecnología computarizada utilizando el Método Audiovisual Interactivo para el aprendizaje óptimo
        de sus alumnos.<br> <br>

        Las clases son dictadas en estudios profesionales y en Aulas adecuadas para el aprendizaje estimulando la
        creación musical, pues los alumnos, pueden estimular naturalmente sus neuronas y su desarrollo cognitivo,
        suprimiendo toda estimulación negativa como el estrés, la ansiedad y la depresión.<br> <br>

        En ADHARA se inculca los valores a todos nuestros alumnos, siendo los más importantes la puntualidad, la
        honestidad y la humildad para el desenvolvimiento de ellos, reflejado en la vida diaria de sus alumnos.
      </p>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 shadow-sm text-justify">
          <h4 class="text-danger font-weight-bold" style="font-size:calc(.9em + 1vw)">VISIÓN</h4>
          <P class="text-white" style="font-size:calc(.5em + .5vw)">Promover en niños, jóvenes y adultos el desarrollo
            cultural, artístico y académico a través de la educación musical para para el mejoramiento de su prospecto
            de vida y así propiciar la integración en una sociedad altamente competitiva. </P>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 shadow-sm text-justify">
          <h4 class="text-danger font-weight-bold" style="font-size:calc(.9em + 1vw)">MISIÓN</h4>
          <P class="text-white" style="font-size:calc(.5em + .5vw)">Ser una empresa social referente en el sur del Perú,
            que trabaja en alianza estratégica con entidades locales, nacionales e internacionales, reconocida por
            formar, a través de la música, agentes del desarrollo social, cultural y artístico responsables con su
            entorno.</P>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'sitio/pie.html' %}