<!--empieza el footer-->
<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-5 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Nuestra Academia</h6>
        <p>La Academia ADHARA te ofrece las mejores carreras para desarrollar tus
          habilidades artísticas en musica.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">

      </div>
      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Jr.Arequipa N° 905 - Puno
        </p>
        <p>
          <i class="fas fa-envelope"></i><a class="ml-2 text-primary font-weight-normal"
            href="mailto:prueba@prueba.com"> adharaacademia@outlook.es</a>
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> (+51) 621868
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->
    <hr>
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">
        <!--Copyright-->
        <p class="text-center text-md-left">&copy; 2024, Todos los derechos reservados - | ADHARA |. Ing. Rudy Ramos
          Desarrollador WEB
          <a href="https://mdbootstrap.com/">
            <strong></strong>
          </a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/Academia-adhara-105462511277096/?modal=admin_todo_tour" target="_blank"
                class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/home" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://youtu.be/Qde4KE3CPHI" target="_blank" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
<!--fIN DE footer-->
<!--/.Navbar-->
<!-- End your project here-->
<!-- jQuery -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>

</html>